/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: inter;
    background-color: #D5E0DD;
    font-family: inter;
}

.sliding{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    margin-top: -60vh;

    .links{
        height: 60vh;
        width: 100vw;
        background: rgb(57, 57, 57);
        filter: blur(2px);
        position: relative;
    }
    
    .fine{
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        margin-top: -60vh;

        li{
            font-size: 2rem;
        }

        button{
            padding: 10px 50px;
            background-color: #008F35;
            border: none;
            color: white;
            border-radius: 5px;
        }
    }
}

.sliders{
    display: block;
    transform: translateY(60vh);
    transition: all 1.5s ease-in-out;
}

.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: white;

    img{
        height: 50px;
    }

    .hamburger-menu{
        z-index: 4;
        border-radius: 5px;
        height: 8vh;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid green;
        flex-direction: column;
        
        .line{
            width: 70%;
            height: 3px;
            background-color: green;
        }
    }
}
.pc-nav{
    display: none;
}

.banner{
    background: #D5E0DD;

    .first-text{
        font-size: 2rem;
    }

    .paragraph{
        margin-top: 30px;
    }

    button{
        padding: 10px 50px;
        border-radius: 5px;
        border: none;
        background-color: green;
        margin-top: 15px;
        color: white;
    }

    .image{

        img{
            margin-top: 50px;
            width: 100%;
        }
    }
}

.services{
    background: #D5E0DD;
    margin-top: 50px;

    h5{
        font-size: 3rem;
    }

    .card-container{
        
        .card{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #D5E0DD;

            h3{
                font-size: x-large;
            }

            a{
                text-decoration: none;
                color: green;
            }
        }
    }
}

.mission{
    background-color: #D5E0DD;
    margin-top: 50px;

    .image{
        width: 100%;
        height: 50vh;
        background: url("../images/img/vin4.png");
        background-position: center;
        background-size: cover;
        
        .overlay{
            height: 50vh;
            background: rgba(0, 0, 0, 0.704);
            color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2{
                font-size: 2rem;
            }
        }
    }
}

.features{
    background: white;
    

    .text-one{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        h2{
            font-size: 2rem;
        }
    }

    .card-one{
        margin-top: 50px;
        border: 2px solid gray;
        background: #ECECEC;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2rem;

        h2{
            font-size: 2rem;
        }

        ul{
            list-style-type: decimal;
            padding-left: 1rem;

            p{
                margin-left: -1rem;
                margin-bottom: 2px;
            }
        }
    }
}

body{
    font-family: inter;
}

.questions{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 0px;
    
    .text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;

        h2{
            font-size: 2rem;
        }
    }

    .form{
        background: white;
        display: flex;
        justify-content: center;


        form{
            margin-top: 50px;
            background-color: #D5E0DD;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 1rem;
            width: 90%;

            input::placeholder{color: black; font-weight: bolder;}
            textarea::placeholder{color: black; font-weight: bolder;}

            input[type='text'],
            input[type="email"],
            textarea,button{
                border: 1px solid black;
            }
           button{
            padding: 10px 0;
           }
        }
    }
}

.footer{
    background: #D5E0DD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 2rem 0px;

    .text{
        font-size: 2rem;
    }

    p{
        text-align: center;
    }

    #email{
        padding: 10px;
        width: 50vw;
    }
    button{
        padding: 10px 40px;
        background-color: #008F35;
        border: none;
        color: white;

    }
}
.copyright{
    background: #008F35;
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
*{
    margin: 0;
    padding: 0;
}
    .mobile-nav{
        display: none;
    }
    .pc-nav{
        display: block;
        background-color: white;

        .flex-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul{
                display: flex;
                align-items: center;
                gap: 20px;
                color: green;

                button{
                    padding: 10px 50px;
                    background-color: #008F35;
                    border: none;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }
    
    .banner{
        padding: 2rem 0px;
       
        img{
            height: 100%;
            margin: 0;
            width: 100%;
        }

        .first-text{
            margin-top: 50px;
        }
    }

    .services{
        height: 60vh;
        
        .card-container{
            display: flex;
            gap: 10px;
        }
    }

    .mission{
        
        .overlay{
            display: flex;
            flex-direction: column;
            justify-content: center;

            p{
                 width: 43%;
            }
        }
    }

    .features{
       height: 45vh;
        .row{
            display: flex;
        }

        .text-one{
            text-align: left;
        }

        .card-one{
            display: flex;
            gap: 10px;
        }
    }

    .questions{
       padding: 3rem 0px;
        .text{
            margin-top: 50px;
        }
        .form{
            width: 49%;
        }
    }

    .footer{
        height: 25vh;

        .text{
            font-size: 3.5rem;
        }

        #email{
            width: 70%;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner{

        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: 90vh;

            .first-text{
                font-weight: bolder;
                font-size: 2.5rem;
                width: 80%;
            }

            .paragraph{
                width: 72%;
            }
        }

        .image{
            height: 90vh;
            display: flex;
            align-items: center;

            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .services{
        height: 110vh;
    }

    .mission{

        .image{
            height: 70vh;

            .overlay{
                height: 70vh;

                p{
                    width: 35%;
                    margin-top: 20px;
                }
            }
        }
    }

    .features{
        padding-bottom: 30rem;
        line-height: 20px;
        .card-one{
            line-height: 20px;
            width: 40%;
            margin-left: 30px;

            .h2{
                margin-top: 20px;
            }
        }
    }

    .questions{
        padding: 3rem 0px;
    }

    .footer{
        height: 40vh;

        #email{
            width: 45%;
        }
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
